[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "ai4ed.github.io"]
	path = ai4ed.github.io
	url = git@github.com:ai4ed/ai4ed.github.io.git
